{% extends 'reset_password/reset_base.html' %}
{% load static %}

{% block title %}
    <title> Infogete | reset password confirm  </title

{% endblock  %}


{% block  content %}
    <div class="bg-white ">
        <div class="p-4">
            <div class="text-left">
                <a href="/">
                    <img src="{% static 'images/logo-dark.png' %}" alt="" class="logo-dark" height="80" />
                </a>
               
                <form method="POST" class="form__ form_" style="">
                    
                    {% if form is None %}
                    <p style="text-transform: lowercase!important; font-size:medium; "  class="text-danger">This link is  invalid or expired. please try again 
                    {% else %}
                    <h2 class="text-primary" style=" padding-top: -20px!important;">Password reset</h2>
                    <p style="text-transform: lowercase!important; font-size:medium;" >Please enter your new password twice so we can verify you typed it in correctly.
                    </p>                         
                    {% csrf_token %}
                    
                      <div class="form-row  ">         
                          {% for field, errors in form.errors.items %}
                              {% for error in errors %}
                                    <li class="text-danger">{{error}}</li>
                              {% endfor %}
                          {% endfor %}
                                                
                              
                      </div>
                      <div class="form-group col-sm-12 temail " style="padding:0px;">
                          {{form}}
                          
                      </div>
                      <div class="form-group col-sm-6" style="padding:0px; margin-top: 10px;" >
                          <button class="btn btn-primary form-control" type="submit"> Reset Password</button>
                
                      </div>
                    {% endif %}
                        

                    
                      <!-- Submit Form Button Ends -->
                  </form>
                
            </div>
        </div>
    </div>

{% endblock  %}
    
    