{% extends 'reset_password/reset_base.html' %}
{% load static %}

{% block title %}
    <title> Infogete | reset password complete  </title

{% endblock  %}


{% block  content %}
    <div class="bg-white shadow">
        <div class="p-4">
            <div class="text-center mt-3">
                <a href="/">
                    <img src="{% static 'images/logo-dark.png' %}" alt="" class="logo-dark" height="80" />
                </a>
               
                <div class="" style="width: 100%; text-align: center;">
                    <p style="" class="text-success">Your password has been set. You may go ahead <br> and log in now.</p>
                            
                    <br>
                    <div class="form-group col-sm-12" style="padding:0px; text-align: center;">
                        <a class="btn btn-primary btn-glow" href="/login">Sign in</a>
                    
                        <!-- <p class="text-center">Don't have an account ? <a href="/login">login</a>
                             -->
                    </div>
                
                </div>
                
            </div>
           
        </div>
    </div>

{% endblock  %}
    
    