{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>infogete | SigneUp</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="infogete Signup for free " />
    <meta name="keywords" content="Infogete suscribe to latest carding , loading , logs, cashout tutorials" />
    <!-- favicon -->
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" />

    <!-- css -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'css/materialdesignicons.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'css/style.min.css' %}" rel="stylesheet" type="text/css" />
</head>

<body>

    <section class="bg-account-pages vh-100 d-flex align-items-center bg-center position-relative"
        style="background-image: url(static/images/auth-bg.png);">

        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-5">
                    <div class="bg-white shadow">
                        <div class="p-4">
                            <div class="text-center mt-3">
                                <a href="/">
                                    <img src="{% static 'images/logo-dark.png' %}" alt="" class="logo-dark" height="60" />
                                </a>
                                <p class="text-muted mt-2">Sign up for a new Account</p>
                            </div>
                            <div class="p-3">
                                
                                <form novalidate="" action="/signup" method="post" class="av-invalid">
                                    {% csrf_token %}     
                                 
                                    {% for field in form %}

                                    <div class="mb-3">
                                        <label for="{{field.label}}" class="form-label">{{field.label}}</label>
                                         {{field}}
                                     
                                          
                                          {% if field.label == "Email" %}
                                            
                                          {% for message in messages %}
                                             <h6 class="text-danger pt-2">{{message}}</h6>
                                           {% endfor %}
                                                
                                          {% endif %}
                                            
                                         {% if field.errors %}
                                            {% comment %} {% if form.errors.items[] == field.label %} {% endcomment %}
                                            <h6 class="text-danger pt-2">{{field.errors}}</h6>
                                            <small>{{ field.help}}</small>
                                            {% comment %} {% endif %} {% endcomment %}
                                                


                                            
                                        {% endif %}
                                         
                                    </div>
                                    {% endfor %}
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value=""
                                            id="termcondition-Check">
                                        <label class="form-check-label" for="termcondition-Check">
                                            I accept <a href="javascript: void(0);"
                                                class="text-dark font-weight-semibold">Terms and Conditions</a>
                                        </label>
                                    </div> 
                                    
                                    <div class="d-grid mt-3">
                                        <button type="submit" class="btn-primary btn btn-none">Register</button>
                                    </div> 
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="text-center mt-4">
                        <p>Already have an account ? <a href="/login" class="font-weight-semibold text-primary">
                                Log in </a> </p>
                    </div>
                </div>
                <!-- end col -->
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </section>
    <!-- end section -->



    <!-- javascript -->
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/smooth-scroll.polyfills.min.js' %}"></script>

    <script src="https://unpkg.com/feather-icons"></script>

    <!-- App Js -->
    <script src="{% static 'js/app.js' %}"></script>
</body>

</html>