{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="infogete suscribe to latest tutorials" />
  <meta name="keywords" content="Infogete suscribe to latest carding , loading , logs, cashout tutorials" />

  {% block header %}
  {% endblock  %}


  <!-- plugins:css -->
  <link rel="stylesheet" href="{% static 'dashboard/vendors/feather/feather.css' %}">
  <link rel="stylesheet" href="{% static 'dashboard/vendors/mdi/css/materialdesignicons.min.css' %}">

  <!-- inject:css -->
  <link rel="stylesheet" href="{% static 'dashboard/css/vertical-layout-light/style.css' %}">
  <!-- endinject -->
  <link rel="shortcut icon" href="/static/images/favicon.ico" />
</head>

<body class="">
  <div class="container-scroller {{suscription_active}}">
    <!-- partial:partials/_navbar.html -->
    <nav class="navbar default-layout col-lg-12 col-12 p-0 fixed-top d-flex align-items-top flex-row">
      <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-start">
        <div class="me-3">
          <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-bs-toggle="minimize">
            <span class="icon-menu"></span>
          </button>
        </div>
        <div>
          <a class="navbar-brand brand-logo" href="">
            {% comment %} <img src="" alt="Infogete" height="680" /> {% endcomment %}
            <h4 style="height:7px;">INFOGETE</h4>
          </a>
          <a class="navbar-brand brand-logo-mini" href="">
            <img src="/static/images/favicon.ico" alt="logo" />
            {% comment %} <h4 style="height:7px;">I</h4> {% endcomment %}

          </a>

        </div>
      </div>
      <div class="navbar-menu-wrapper d-flex align-items-top">
        <ul class="navbar-nav">
          <li class="nav-item font-weight-semibold d-none d-lg-block ms-0">
            <h1 class="welcome-text">Hi, <span class="text-black fw-bold">{{request.user.username}}</span></h1>
            <h3 class="welcome-sub-text">{{sub_title}}</h3>
          </li>
        </ul>
        <ul class="navbar-nav ms-auto">

          {% block  category %}

          {% endblock  %}

          <li class="nav-item">
            <form class="search-form" method="get" action="{% url 'home' %}">
              <i class="icon-search"></i>
              <input type="text" class="form-control" placeholder="Search Here" title="Search here" name="searche"
                value="">
            </form>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link count-indicator" id="notificationDropdown" href="#" data-bs-toggle="dropdown">
              <i class="icon-bell icon-lg bellicone"></i>
              {% if count_notification != 0 %}
              <span class="count"></span>
              {% endif %}

            </a>
            <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list pb-0"
              aria-labelledby="notificationDropdown" style="overflow:auto ; height:50vh">
              <a class="dropdown-item py-3 border-bottom">
                <p class="mb-0 font-weight-medium float-left">You have {{count_notification}} new notifications </p>
                <span class="badge badge-pill badge-primary float-right">View all</span>
              </a>

              {% for notification in  notifications %}
              <a class="dropdown-item preview-item py-3 " {% if notification.read == True %}
                style="background-color:#f4f5f7;" {% else %}
                style="background-color:white; box-shadow: 0 1rem 3rem rgba(0,0,0,.175)!important;" {% endif %}>
                <div class="preview-thumbnail">
                  <i class=" mdi mdi-bell-ring-outline text-primary"></i>
                </div>
                <div class="preview-item-content">
                  <h6 class="preview-subject fw-normal text-dark mb-1">{{notification.title}}</h6>
                  <p class="fw-light small-text mb-0"> {{notification.message}}</p>
                  <small>{{notification.created_at}}</small>
                </div>
              </a>

              {% endfor %}


            </div>
          </li>
        
          <li class="nav-item dropdown d-none d-lg-block user-dropdown">
            <a class="nav-link" id="UserDropdown" href="#" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="
             mdi mdi-account-circle icon-lg " style="vertical-align: -moz-middle-with-baseline; font-size:x-large; margin-top:11px;"> </i>
            </a>
            <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="UserDropdown">
              <div class="dropdown-header text-center">
                <i class="
             mdi mdi-account-circle " style="vertical-align:webkit-baseline-middle ; font-size:x-large;"> </i>
                <p class="mb-1 mt-3 font-weight-semibold">{{request.user.username}}</p>
                <p class="fw-light text-muted mb-0">{{request.user.email}}</p>
              </div>
              <a class="dropdown-item" href="/dashboard/profile"><i
                  class="dropdown-item-icon mdi mdi-account-outline text-primary me-2"></i> My
                Profile </a>
              <a class="dropdown-item" href="/dashboard/logout"><i
                  class="dropdown-item-icon mdi mdi-power text-primary me-2"></i>Sign Out</a>
            </div>
          </li>
        </ul>
        <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button"
          data-bs-toggle="offcanvas">
          <span class="mdi mdi-menu" style="vertical-align: -moz-middle-with-baseline;"></span>
        </button>
      </div>
    </nav>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">

      <!-- partial:partials/_sidebar.html -->
      <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" href="/dashboard">
              <i class="mdi mdi-grid-large menu-icon"></i>
              <span class="menu-title">articles</span>
            </a>
          </li>
          <li class="nav-item nav-category">Content</li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="collapse" href="#ui-basic" aria-expanded="false"
              aria-controls="ui-basic">
              <i class=" menu-icon mdi mdi-layers-outline"></i>
              <span class="menu-title">Content</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="ui-basic">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="{% url 'readlater' %}">Saved article</a></li>
                <li class="nav-item"> <a class="nav-link" href="/dashboard/suscription">Suscription</a></li>
              </ul>
            </div>
          </li>
          <li class="nav-item nav-category">Support</li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="collapse" href="#form-elements" aria-expanded="false"
              aria-controls="form-elements">
              <i class="menu-icon mdi mdi-card-text-outline"></i>
              <span class="menu-title">Support </span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="form-elements">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"><a class="nav-link" href="/dashboard/contact-us">Contact Us</a></li>
  
                <li class="nav-item"><a class="nav-link" href="/dashboard/tickets">Tikect</a></li>
              </ul>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="collapse" href="#icons" aria-expanded="false" aria-controls="icons">
              <i class="menu-icon 
              mdi mdi-settings "></i>
              <span class="menu-title">Settings</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="icons">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="/dashboard/logout">Logout</a></li>
              </ul>
            </div>
          </li>
        </ul>
      </nav>
      <!-- partial -->
      <div class="main-panel">


        {% block content %}

        {% endblock  %}


      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->

  <!-- plugins:js -->
  <script src="https://code.jquery.com/jquery-3.6.1.slim.min.js"
    integrity="sha256-w8CvhFs7iHNVUtnSP0YKEg00p9Ih13rlL9zGqvLdePA=" crossorigin="anonymous"></script>

  <script src="{% static 'dashboard/vendors/js/vendor.bundle.base.js' %}"></script>
  <script src="{%  static 'dashboard/js/off-canvas.js' %}"></script>

  <script src="{% static 'dashboard/js/template.js' %}"></script>

  <script src="{% static 'dashboard/js/dashboard.js' %}"></script>
  <script src="{% static 'dashboard/js/notifications.js' %}"></script>


  {% block footer %}

  {% endblock  %}

</body>

</html>