{% extends 'dashboard/base.html' %}
{% load qr_code %}

{% block header %}
<title>Infogete | Change Password</title>
<!-- JavaScript Bundle with Popper -->
<!-- CSS only -->


{% endblock  %}

{% block content %}
<div class="content-wrapper">
    <div class="row ">

        <div class="col-lg-6 col-sm-12 col-md-12">

            <div class="card rounded-1">
                <div class="card-header">
                    Change password
                </div>
                <div class="card-body">

                    {% if messages %}
                    <ul class="messages p-0">
                        {% for message in messages %}


                        {% if message.tags == "success" %}

                        <div class="alert alert-success" role="alert">
                            <h4 class="alert-heading">Welcome !!!.</h4>
                            <p>{{message}}.</p>
                            <hr>
                            <p class="mb-0"></p>
                        </div>

                        {% else %}

                        <h6 class="text-danger pt-2">{{message}}</h6>



                        {% endif %}

                        {% endfor %}
                    </ul>
                    {% endif %}

                    <form action="{% url 'changepassword' %}" method="post">
                        <div class="form-group">
                            {% csrf_token %}


                            <label for="exampleInputEmail1">Old password</label>
                            <input type="password" class="form-control" id="exampleInputEmail1"
                                aria-describedby="emailHelp" placeholder="Enter old password" name="oldpassword">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">New password</label>
                            <input type="password" class="form-control" id="exampleInputPassword1"
                                placeholder="Enter new password" name="newpassword1">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">retype password</label>
                            <input type="password" class="form-control" id="exampleInputPassword1"
                                placeholder="retype new password" name="newpassword2">
                        </div>


                        <button type="submit" class="btn btn-primary">change password</button>
                    </form>

                </div>
            </div>
        </div>
    </div>


</div>
{% endblock  %}